button {
    border: none;
    background-color: transparent;
  }
  
.container {
display: flex;
align-items: center;
position: relative;

&_search-item {
    width: 40rem;
    height: 0.8rem;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--grey-light-color-3);
    color: var(--grey-dark-color-3);
}
&_search-item:focus {
    outline: none;
    box-shadow: 0 0 5px var(--secondary-color);
}

&_search-icon {
    position: absolute;
    z-index: 2;
    right: 1rem;
}
}

@media (max-width: 1400px) {
.container {
    &_search-item {
    width: 40rem;
    }
}
}

@media (max-width: 900px) {
.container {
    &_search-item {
    width: 30rem;
    }
}
}

@media (max-width: 768px) {
.container {
    &_search-item {
    font-size: 0.6rem;
    height: 0.6rem;
    padding: 0.6rem;
    width: 13rem;
    }
}
}
  