<div class="container">
  <!-- NG CONTAINER WITH CARDS -->
  <div *ngIf="characters$ | async as characters" class="container_card-wrapper">
    <ng-container *ngIf="characters.length; else showEmpty">
      <app-card-item *ngFor="let character of characters" [character]="character"></app-card-item>
    </ng-container>
  </div>
  <!-- NOT RESULT TEMPLATE -->
  <ng-template #showEmpty>
    <!-- <app-not-found title="" message="Not data found" [img]="{height: 250, width: 450, src: 'assets/imgs/404.svg' }"></app-not-found>-->
  </ng-template>
</div>