.container{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 2rem;

    &_img{
        background-color: var(--grey-light-color-1);
        box-shadow: 3px 6px 10px 0px var(--shadow-color-4);
        width:300;
        height:300;
        transition: 0.3s;
    }

    &_img:hover {
        transition: 0.4s;
        padding: 2rem 1rem;
      }
    
}