<mat-card class="container">
    <figure>
        <img [src]="character.image" [alt]="character.name" rel="preload" as="image" class="container_img">
    </figure>
    <mat-card-header>
        <h2><b>Name: </b> {{character.name}}</h2>
    </mat-card-header>
    <mat-card-content>
        <h2>Description</h2>
        <p> <b>Status:</b> {{character.status}}</p>
        <p> <b>Species:</b> {{character.species}} </p>
        <p> <b>Gender:</b> {{character.gender}}</p>
    </mat-card-content>
</mat-card>